<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 flash flash--alert">
      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :email_address, class: "label" %>
    <%= form.text_field :email_address, class: "input" %>
  </div>

  <div class="mt-5">
    <%= form.submit "Submit", class: "btn" %>
  </div>
<% end %>
